.chat{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
   
}
.bubble-message-user{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;

    border-radius: 0px 20px 20px 20px;
    transition: all 0.5s;

}
.bubble-message-bot{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
    
    /*background: rgba(179, 179, 179, 0.1);*/
    border-radius: 0px 20px 20px 20px;
    transition: all 0.5s;
}
.chat-messages{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    transition: all 0.5s;
    margin-top: 20px;
  
    
}
.text-message{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: start;
    
    color: #212121;
    padding-left: 7px;
    padding-right: 7px;
}
.text-sources{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    box-sizing: border-box;
    padding: 10px;
    column-gap: 5px;
    width: 100%;
    font-size: 14px;
    border-top: 0.5px solid rgb(144, 143, 143);
    
    
}
.sources{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}
.learn{
    font-weight: 600;
    width: 80px;
   
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(233, 245, 255);
    padding-inline: 15px;
    border-radius: 5px;
    color: #0d6efd;

}
.scrolling{
    overflow: auto;
    margin-bottom: 20px;
    height: 90%;
}
.scrolling::-webkit-scrollbar {
    display: none;
  }


.avatar-icon-user{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    margin-right: 20px;

    border-radius: 5px;
}
.avatar-icon-bot{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    margin-right: 20px;
    background: rgba(179, 179, 179, 0.1);
    border-radius: 5px;

}
.username-color {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FD9053;
}
.bot-color {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #c3c3c3;
}



.loading-img{
  
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}  
@keyframes rotate {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}
@media screen and (max-width: 768px) {
    .chat{
        padding: 0 20px;
        margin:0 ;
    }
}