.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    background: white;
 
    border-bottom:0.5px solid rgb(229, 229, 229);
}
.usaul-chat-txt{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 46% */
    
    display: flex;
    align-items: center;
   
    color: #2f2f7f;
    
}

