.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background: white;
    border-radius: 20px;
}
.usaul-chat-txt{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 46% */
    
    display: flex;
    align-items: center;
    padding: 24px 16px;
    margin-left: 36px;
    color: #212121;
    
}
.icons{
  margin-right: 20px;
}
