.chat-input{
    display: flex;
    position: relative;

    border: 1px solid #6195d1;
    height: 50px;
    border-radius: 8px;
    justify-content: flex-end;
    align-items: center;
    margin-top: auto;
}
.input-text{
    position: absolute;
    top: 10;
    left: 10;
    border: none;
    background-color: none;
    height: 30px;
    width: 88%;
    font-size: 12px;
    font-family: 'Inter';
    color: #6195d1;
   
    resize: none;
    
}
.input-text::placeholder{
    color: #6195d1;
   
    
}

.input-text:focus{
    outline: none;
}
form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}
.submit-button{
    display: flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); */

    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.5s;
}
.submit-icon{
    width: 18px;
    height: 18px;
    
}
